<script type="text/javascript" src="../../assets/js/ckeditor/ckeditor.js"></script>
<header>
  <!-- Navbar -->
  {{>home/header}}
</header>
<main>
<!-- Editable table -->

<div class="card">
  <div class="card-header text-center font-weight-bold text-uppercase py-4">.</div>
  <div class="card-header text-center font-weight-bold text-uppercase py-4">Products of {{authUser.f_Name}}</div>
  <div class="card-body">
      <span class="table-add float-right mb-3 mr-2"><a href="/seller/sale-register" class="text-success">
        <i class="fas fa-plus-circle fa-2x"></i></a></span>
      <span class="table-add float-right mb-3 mr-2"><a href="/seller/myProducts/Selling" class="text-success">
            <i class="fas fa-clock fa-2x"></i></a></span>
      <span class="table-add float-right mb-3 mr-2"><a href="/seller/myProducts/Sold" class="text-success">
            <i class="fas fa-check-circle fa-2x"></i></a></span>
      <span class="table-add float-right mb-3 mr-2"><a href="/seller/myProducts/All" class="text-success">
            <i class="fas fa-globe-africa fa-2x"></i></a></span>   
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">Product ID</th>
            <th class="text-center">Product Name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Step</th>
            <th class="text-center">Price To Buy</th>
            <th class="text-center">Time Start</th>
            <th class="text-center">Time Finish</th>
            <th class="text-center">Description</th>
          </tr>
        </thead>
        {{#each Table}}
        <tbody>
          <tr>
            <td class="pt-3-half" >{{ProID}}</td>
            <td class="pt-3-half" >{{ProName}}</td>
            <td class="pt-3-half" >{{Price}}</td>
            <td class="pt-3-half" >{{Step}}</td>
            <td class="pt-3-half" >{{PriceToBuy}}</td>
            <td class="pt-3-half" >{{TimeStart}}</td>
            <td class="pt-3-half" >{{TimeFinish}}</td>
      
            <td>
              <span class="table-edit">
                <button type="button" data-toggle="modal" data-target="#modalCart{{ProID}}"class="btn btn-danger btn-rounded btn-sm my-0" onclick="EditDes({{ProID}})">Edit</button>
              </span>
            </td>
          </tr>
          <form action="/seller/myProducts/edit", method="POST">
            <div class="modal fade" id="modalCart{{ProID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <!--Header-->
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{ProName}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <!--Body-->
                  <div class="modal-body">
                    <input type="hidden" name="ProID" value={{ProID}}>
                    <textarea class="form-control md-textarea" id="editor{{ProID}}" name="product_description" rows="5">{{FullDes}}</textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" data-toggle="modal" data-target="#modalCart{{ProID}}"class="btn btn-danger btn-rounded btn-sm my-0" >Commit</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- This is our clonable table line -->
        </tbody>
        {{/each}}
      </table>
    </div>
  </div>

</div>
<!-- Editable table -->
</main>
<footer>
  <i class="footer-bor" style="background:#acacac;opacity:.1;"></i>
  <div id="footer" class="footer wow slideInUp backcolor back-footer animated"
    style="background: rgb(236, 179, 90); visibility: visible; animation-name: slideInUp;">
    {{>home/bottom}}
  </div>
  <!-- /footer -->
  <script type="text/javascript">
    var qq_left = "3",
      qq_topbottom = 50;
    $(".kefu_q3 .default").on("click", function () {
      $(this).animate({
        "right": -120 + '%'
      }, 100);
      $(".default-hide").animate({
        "margin-right": 0
      }, 300);
    })
    $(".colse").on("click", function () {
      $(".default-hide").animate({
        "margin-right": -120 + '%'
      }, 100);
      $(".kefu_q3 .default").animate({
        "right": qq_left + 'px',
        "bottom": qq_topbottom + 'px'
      }, 300);
    })
  </script>
</footer>
<script>
  function EditDes(ProID)
  {
    CKEDITOR.replace(`editor${ProID}`);
    var date = new Date().toString();
    var Des = document.getElementById(`editor${ProID}`);
    Des.value=Des.value + '<b>' + date + '<b><p></p>';
  }
  
</script>